<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>[$title]</title>
    <!-- 先引入 Vue -->
    <script type="text/javascript" src="/static/dist/vue.js"></script>
    <link href="/static/dist/styles/iview.css" rel="stylesheet" type="text/css">
    <script src="/static/dist/iview.min.js"></script>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/jsencrypt.js"></script>
    <script src="/static/js/function.js"></script>
    <script src="/static/js/crypt.js"></script>
</head>
<body>
